# DAY

#  Dictionary,Sets

In [30]:
# 1) Write a Python script to merge two Python dictionaries

In [1]:
dic1={'ram':98,'Dubey':99,'Ramesh':89,'Amish':88}
dic2={'gourav':76,'mansi':56,'Anurag':100,'Puna':67}

In [3]:
# merging dic through update fn
print(dic2.update(dic1))    
# changes made in dic2
print(dic2)

None
{'gourav': 76, 'mansi': 56, 'Anurag': 100, 'Puna': 67, 'ram': 98, 'Dubey': 99, 'Ramesh': 89, 'Amish': 88}

In [4]:
print(dic1)

{'ram': 98, 'Dubey': 99, 'Ramesh': 89, 'Amish': 88}

In [7]:
res1 = {**dic1, **dic2} 
# making by adding two dictionary in another dictionary
print(res1)

{'ram': 98, 'Dubey': 99, 'Ramesh': 89, 'Amish': 88, 'gourav': 76, 'mansi': 56, 'Anurag': 100, 'Puna': 67}

In [8]:
res12 = dic1 and dic2  # merging using and 
print(res12)

{'gourav': 76, 'mansi': 56, 'Anurag': 100, 'Puna': 67, 'ram': 98, 'Dubey': 99, 'Ramesh': 89, 'Amish': 88}

In [12]:
print(dic1 ," and dictionary 2 is    ", dic2)
print()
print()
print()
dis =dic2 or dic1
print(dis)

{'ram': 98, 'Dubey': 99, 'Ramesh': 89, 'Amish': 88}  and dictionary 2 is     {'gourav': 76, 'mansi': 56, 'Anurag': 100, 'Puna': 67, 'ram': 98, 'Dubey': 99, 'Ramesh': 89, 'Amish': 88}



{'gourav': 76, 'mansi': 56, 'Anurag': 100, 'Puna': 67, 'ram': 98, 'Dubey': 99, 'Ramesh': 89, 'Amish': 88}

# 2) Write a Python program to remove a key from a dictionary

In [13]:
del dic1['ram']
print(dic1)

{'Dubey': 99, 'Ramesh': 89, 'Amish': 88}

In [14]:
dic2.pop('Dubey')

99

In [15]:
print(dic2)

{'gourav': 76, 'mansi': 56, 'Anurag': 100, 'Puna': 67, 'ram': 98, 'Ramesh': 89, 'Amish': 88}

In [17]:
dic2.popitem()                                #pop last item
print(dic2)

{'gourav': 76, 'mansi': 56, 'Anurag': 100, 'Puna': 67, 'ram': 98}

# 3) Write a Python program to map two lists into a dictionary

In [18]:
d1=['A','S','D','f','E','O']
d2=[7,8,9,5,4,3]
res = {}
for key in d1:
    for value in d2:
        res[key] = value
        d2.remove(value)
        break  
print("Dictionary is ",str(res))

Dictionary is  {'A': 7, 'S': 8, 'D': 9, 'f': 5, 'E': 4, 'O': 3}

In [19]:
d1=['A','S','D','f','E','O']
d2=[7,8,9,5,4,3]
res1={d1[i]:d2[i] for i in range(len(d1))}
print(res1)

{'A': 7, 'S': 8, 'D': 9, 'f': 5, 'E': 4, 'O': 3}

In [20]:
d1=['A','S','D','f','E','O']
d2=[7,8,9,5,4,3]
rs2 = dict(zip(d1,d2))
print(rs2)

{'A': 7, 'S': 8, 'D': 9, 'f': 5, 'E': 4, 'O': 3}

# 4) Write a Python program to find the length of a set

In [21]:
name={'A','B','C','D','E','F','G','H'}
print("Number of names in Set is :",len(name))

Number of names in Set is : 8

In [22]:
#trying with add, update,remove and discard fn in set

In [23]:
name={'GOURAV','ARPIT','DEEPAK','ASHISH'}
name2={'RISHABH','KARTIKAY','GOURAV-CHAWLA','ABHISHEK'}
name.update(name2)
print("Adding two  sets :", name)

Adding two  sets : {'ASHISH', 'GOURAV-CHAWLA', 'GOURAV', 'KARTIKAY', 'DEEPAK', 'ABHISHEK', 'ARPIT', 'RISHABH'}

In [24]:
name.add("AMIT")

In [25]:
print(name)

{'ASHISH', 'GOURAV-CHAWLA', 'GOURAV', 'KARTIKAY', 'AMIT', 'DEEPAK', 'ABHISHEK', 'ARPIT', 'RISHABH'}

In [26]:
name.remove('ARPIT')

In [28]:
name.discard('DEEPAK')

In [29]:
print(name)

{'ASHISH', 'GOURAV-CHAWLA', 'GOURAV', 'KARTIKAY', 'AMIT', 'ABHISHEK', 'RISHABH'}

# 5) Write a Python program to remove the intersection of a 2nd set from the 1st sets

In [31]:
a1={100,90,80,70,60,50,40,30,20,10}
a2={20,40,60,80,100}
print(a1.intersection(a2))

{100, 40, 80, 20, 60}