# Day 5

# User Inputs, Other Important Datatypes

1) Write a program to create a list of n integer values and do the following

• Add an item in to the list (using function)

• Delete (using function)

• Store the largest number from the list to a variable

In [2]:
no=5
a=[]
for i in range(no):
    x=int(input())
    a.append(x)

9
8
7
6
5

In [3]:
for i in a:
    print(i)

9
8
7
6
5

In [4]:
for i in range(len(a)):
    print(a[i])

9
8
7
6
5

In [ ]:
#Adding elemnts in list

In [5]:
print("A=",a)
b=['a','s','d','g','h']
a+=b
print("added another list :",a)

A= [9, 8, 7, 6, 5]
added another list : [9, 8, 7, 6, 5, 'a', 's', 'd', 'g', 'h']

In [6]:
c=[23,30,25,10,50]
a.extend(c)
a

[9, 8, 7, 6, 5, 'a', 's', 'd', 'g', 'h', 23, 30, 25, 10, 50]

In [7]:
a.insert(4,"I am newly inserted element")
print(a)

[9, 8, 7, 6, 'I am newly inserted element', 5, 'a', 's', 'd', 'g', 'h', 23, 30, 25, 10, 50]

# Deleting an element in list

In [12]:
del a[9]

In [13]:
print(a)

[9, 8, 7, 6, 'I am newly inserted element', 5, 'a', 's', 'h', 30, 25, 10, 50]

In [14]:
del a[6:17]
print(a)

[9, 8, 7, 6, 'I am newly inserted element', 5]

In [ ]:
# delete a last element in list

In [15]:
a.pop() 
print(a)

[9, 8, 7, 6, 'I am newly inserted element']

In [16]:
a.pop(-5)
print(a)

[8, 7, 6, 'I am newly inserted element']

In [19]:
a.remove(8)
print(a)

[7, 6, 'I am newly inserted element']

# Store the largest number from the list to a variable

In [21]:
list =[9,8,7,6,5,4,3,2,1]
max_i=max(list)
print("maximun number in list",max_i)

maximun number in list 9

# Store the Smallest number from the list to a variable

In [23]:
list =[9,8,7,6,5,4,3,2,1]
min_i=min(list)
print("minimun number in list",min_i)

minimun number in list 1

In [ ]:
#2) Create a tuple and print the reverse of the created tuple

In [25]:
tuple =(94,65,32,62,25,30,45,17,71,3,36,90)
s=sorted(tuple)
print("tuple before sorting",tuple)
print("Reverse the tuple ",sorted(tuple,reverse=True))
print("Sorted tuple",s)

tuple before sorting (94, 65, 32, 62, 25, 30, 45, 17, 71, 3, 36, 90)
Reverse the tuple  [94, 90, 71, 65, 62, 45, 36, 32, 30, 25, 17, 3]
Sorted tuple [3, 17, 25, 30, 32, 36, 45, 62, 65, 71, 90, 94]

In [26]:
rev=sorted(s, reverse=True)
print("reverse of sorted tuple is ",rev)

reverse of sorted tuple is  [94, 90, 71, 65, 62, 45, 36, 32, 30, 25, 17, 3]

In [ ]:
#3) Create a Tuple And Convert into List

In [49]:
tuple=[(1,2),(3,4),(5,8)]
result=[]
for t in tuple:
    for x in t:
        result.append(x)
print(result )

[1, 2, 3, 4, 5, 8]